@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 900;
  src: url('./assets/fonts/Aeonik-Black.otf');
}
@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 900;
  font-style: italic;
  src: url('./assets/fonts/Aeonik-BlackItalic.otf');
}
@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 700;
  src: url('./assets/fonts/Aeonik-Bold.otf');
}
@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/Aeonik-BoldItalic.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 300;
  src: url('./assets/fonts/Aeonik-Light.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/Aeonik-LightItalic.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 500;
  src: url('./assets/fonts/Aeonik-Medium.otf');
}
@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 500;
  font-style: italic;
  src: url('./assets/fonts/Aeonik-MediumItalic.otf');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-weight: 400;
  src: url('./assets/fonts/Aeonik-Regular.otf');
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: 'Aeonik';
  font-style: italic;
  src: url('./assets/fonts/Aeonik-RegularItalic.otf');
}

:root {
  --nax-black: #090c08;
  --nax-white: #fff;
  --nax-green: #c2f756;
  --nax-gray: #8f8f8f;
  --nax-dark-green: #5d8906;
  --nax-green-100: #f1fdd8;
  --nax-green-200: #e8fcbd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Aeonik';
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Button styles */
.button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}

.button.big {
  padding: 1.25rem 2rem;
}

.button.button_green {
  color: var(--nax-green);
  border: 1px solid var(--nax-green);
}

.button.button_white {
  color: var(--nax-black);
  background-color: var(--nax-white);
}

@media screen and (max-width: 450px) {
  .button.button_white {
    width: 100%;
  }
}

p {
  font-weight: 400;
}

/* Link */
a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--nax-white);
}
